#root {
  width: 1480px;
  margin: auto;
  margin-bottom: 400px;
  text-align: center;
}
.title {
  font-size: 2.1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

input,
.task-item {
  width: 30%;
  height: 43px;
  font-size: 15px;
  background-color: lightgray;
  color: white;
  background-color: hsl(236, 10%, 28%);
  border: none;
  margin-bottom: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  padding-left: 30px;
}

.header {
  background-image: url("./assets/img/bg-desktop-dark.jpg");
  height: 250px;
  background-repeat: no-repeat;
}
.App-header {
  padding: 20px 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 280px;
}
.icon {
  width: 23px;
  height: 23px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
